<!DOCTYPE html>
<html lang="en">
<head>

    <!--
        Hey, you! If interested in checking out the source code,
        you will probably be interested in helping us code the site.
        You can view this website on GitHub:
        
        https://github.com/MoldyMacaroniX/dashword.net

        Feel free to help us with its codebase or just check it out if
        you want to see how this site works!
    -->

    {% if metadata.isAds and not hideAds %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7684383246101791"
     crossorigin="anonymous"></script>
    {% else %}
    <style>
        .inline-slot {
            display: none;
        }
    </style>
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F49Q9CS7F8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-F49Q9CS7F8');
    </script>

    <!-- https://stackoverflow.com/a/20505898 -->
    <script src="/assets/js/ads-prebid.js"></script>

    <!-- Sitemap -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    {% if pageID == "authorPosts" %}{% set myAuthor = authors | getAuthor(category.title) %}{% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page404 %}
    <!-- If 404 -->
    <meta name="robots" content="noindex,follow">
    {% endif %}

    <meta name="theme-color" content="#0067EE">
    <link rel="icon" href="/assets/img/icon.svg">

    <!-- Metadata -->
    <title>
    {% if pageID !== "authorPosts" %}{{ title or metadata.title }}{% else %}{{ myAuthor.name }}{% endif %} | {{ metadata.title }}
    </title>
    <meta name="title" content="{% if pageID !== "authorPosts" %}{{ title or metadata.title }}{% else %}{{ myAuthor.name }}{% endif %} | {{ metadata.title }}">
    <meta name="description" content="{% if pageID !== "authorPosts" %}{{ desc or metadata.desc }}{% else %}{{ myAuthor.bio }}{% endif %}">
    {% if date %}<meta name="date" content="{{ page.date | readableDate }}">{% endif %}

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/index.css">

    <!-- ICON CSS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Toastify JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Opengraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ metadata.url }}">
    <meta property="og:title" content="{% if pageID !== "authorPosts" %}{{ title or metadata.title }}{% else %}{{ myAuthor.name }}{% endif %} | {{ metadata.title }}">
    <meta property="og:description" content="{% if pageID !== "authorPosts" %}{{ desc or metadata.desc }}{% else %}{{ myAuthor.bio }}{% endif %}">
    <meta property="og:image" content="{{ image or metadata.image }}">

    <!-- Twitter since they're different or something -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ metadata.url }}">
    <meta property="twitter:title" content="{% if pageID !== "authorPosts" %}{{ title or metadata.title }}{% else %}{{ myAuthor.name }}{% endif %} | {{ metadata.title }}">
    <meta property="twitter:description" content="{% if pageID !== "authorPosts" %}{{ desc or metadata.desc }}{% else %}{{ myAuthor.bio }}{% endif %}">
    <meta property="twitter:image" content="{{ image or metadata.image }}">
</head>
<body>

    <!-- NOTIF ALERT START -->
    <div class="notif cols" id="notif">
        <div class="notif-content col">
            <p>Dashword uses the revenue generated from ads to cover its costs. You are free to keep your ad blocker on, but if you want to help us continue to share high quality Geometry Dash news, we comfortably ask you to consider disabling your ad blocker on this website.</p>
        </div>
        <div>
            <button class="button" onclick="closeNotif()">Close</button>
        </div>
    </div>
    <!-- NOTIF ALERT END -->

    <!-- SCROLL LINK START -->
    <div class="scroll" id="scrollTop" onclick="up()" onkeydown="if (event.keyCode === 13) {up()}" tabindex="0">
        <i class="ri-arrow-up-line"></i>
    </div>
    <!-- SCROLL LINK END -->

    <!-- MOBILE NAV START -->
    <div class="mobile" id="menu">
        <i class="ri-close-fill close" id="close" onclick="closeMobile()" onkeydown="if (event.keyCode === 13) {closeMobile()}" tabindex="0"></i>
        <a href="/" class="mobile-item">Home</a>
        <a href="/categories/2.2/" class="mobile-item">2.2</a>
        <a href="/categories/news/" class="mobile-item">News</a>
        <a href="/categories/demonlist/" class="mobile-item">Demonlist</a>
        <a href="/categories/guide/" class="mobile-item">Guide</a>
        <a href="/categories/review/" class="mobile-item">Review</a>
    </div>
    <div class="mobile-bg" id="menu-bg" onclick="closeMobile()"></div>
    <!-- MOBILE NAV END -->

    <!-- NAVBAR START -->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar">
                <div class="left">
                    <a href="/" class="logo"><img src="/assets/img/icon.svg" alt="">Dashword</a>
                    <i class="ri-menu-line menu" id="open" onclick="openMobile()" onkeydown="if (event.keyCode === 13) {openMobile()}" tabindex="0"></i>
                    <div class="items hide-on-phone">
                        <a href="/" class="item">Home</a>

                        <div class="megamenu">
                            <a href="/categories/2.2/" class="item">2.2</a>
                            <div class="megamenu-content">
                                <div class="container cols">
                                    {% for post in collections[ "2.2" ] | reverse | head(3) %}
                                    <div class="col">
                                        <div class="post-sidebar">
                                            <a class="image" href="{{ post.url }}">
                                                <div class="aspect">
                                                    <img src="{{ post.data.image | url }}" alt="">
                                                </div>
                                            </a>
                                            <div class="content col">
                                                <a href="{{ post.url }}" class="title" style="text-transform: capitalize">{% if post.data.title %}{{ post.data.title }}{% else %}No post title provided{% endif %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="megamenu">
                            <a href="/categories/news/" class="item">News</a>
                            <div class="megamenu-content">
                                <div class="container cols">
                                    {% for post in collections[ "news" ] | reverse | head(3) %}
                                    <div class="col">
                                        <div class="post-sidebar">
                                            <a class="image" href="{{ post.url }}">
                                                <div class="aspect">
                                                    <img src="{{ post.data.image | url }}" alt="">
                                                </div>
                                            </a>
                                            <div class="content col">
                                                <a href="{{ post.url }}" class="title" style="text-transform: capitalize">{% if post.data.title %}{{ post.data.title }}{% else %}No post title provided{% endif %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="megamenu">
                            <a href="/categories/demonlist/" class="item">Demonlist</a>
                            <div class="megamenu-content">
                                <div class="container cols">
                                    {% for post in collections[ "demonlist" ] | reverse | head(3) %}
                                    <div class="col">
                                        <div class="post-sidebar">
                                            <a class="image" href="{{ post.url }}">
                                                <div class="aspect">
                                                    <img src="{{ post.data.image | url }}" alt="">
                                                </div>
                                            </a>
                                            <div class="content col">
                                                <a href="{{ post.url }}" class="title" style="text-transform: capitalize">{% if post.data.title %}{{ post.data.title }}{% else %}No post title provided{% endif %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="megamenu">
                            <a href="/categories/guide/" class="item">Guide</a>
                            <div class="megamenu-content">
                                <div class="container cols">
                                    {% for post in collections[ "guide" ] | reverse | head(3) %}
                                    <div class="col">
                                        <div class="post-sidebar">
                                            <a class="image" href="{{ post.url }}">
                                                <div class="aspect">
                                                    <img src="{{ post.data.image | url }}" alt="">
                                                </div>
                                            </a>
                                            <div class="content col">
                                                <a href="{{ post.url }}" class="title" style="text-transform: capitalize">{% if post.data.title %}{{ post.data.title }}{% else %}No post title provided{% endif %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="megamenu">
                            <a href="/categories/review/" class="item">Review</a>
                            <div class="megamenu-content">
                                <div class="container cols">
                                    {% for post in collections[ "review" ] | reverse | head(3) %}
                                    <div class="col">
                                        <div class="post-sidebar">
                                            <a class="image" href="{{ post.url }}">
                                                <div class="aspect">
                                                    <img src="{{ post.data.image | url }}" alt="">
                                                </div>
                                            </a>
                                            <div class="content col">
                                                <a href="{{ post.url }}" class="title" style="text-transform: capitalize">{% if post.data.title %}{{ post.data.title }}{% else %}No post title provided{% endif %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="right">
                    <div class="items">
                        <a href="/contribute/" class="button">Contribute</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-spacer"></div>
    <!-- NAVBAR END -->

    {% if showFeaturedPosts %}
    <!-- FEATURED POSTS START -->
    {% include 'partials/featuredPosts.njk'%}
    <!-- FEATURED POSTS END -->
    {% endif %}

    {% include 'formats/display-horizontal.njk'%}

    <!-- MAIN CONTENT AREA START -->
    <div class="container section" id="sidebar-wrapper">
        <div class="cols main-content">
            <div class="main-content-safe">

                {{ content | safe }}

                {% if metadata.isAds and not hideAds %}
                <div class="up-next-show">
                {% include "formats/feed.njk" %}
                </div>
                {% endif %}

            </div>
            <div id="sidebar" class="sidebar">
                <div id="sidebar-inner">

                    <h1 class="heading">Featured</h1>

                    {% include 'partials/featuredPostsSidebar.njk' %}

                    <a href="/categories/featured/" class="button button-wide">View More</a>

                    {% include 'formats/display-vertical.njk'%}

                </div>
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT AREA END -->

    {% include 'formats/display-horizontal.njk'%}

    <!-- FOOTER START -->
    <div class="footer-wrapper">
        <div class="footer container">
            <div class="cols">

                <div class="col">
                    <h1>Dashword</h1>
                    <p>
                        {{ metadata.desc }}
                        <a href="/privacy-policy/" style="margin-top: 10px;">Privacy Policy</a>
                    </p>
                </div>

                <div class="col">
                    <h1>Navigation</h1>
                    <p>
                        <a href="/">Home</a>
                        <a href="/posts/">Articles</a>
                        <a href="/categories/">Topics</a>
                        <a href="/authors/">Authors</a>
                        <a href="/about/">About</a>
                    </p>
                </div>

                <div class="col">
                    <h1>Contribute</h1>
                    <p>
                        <a href="https://github.com/moldymacaronix/dashword.net/tree/master/{{ page.inputPath }}">Edit This Page</a>
                        <a href="/contribute/">Contribute (writer or developer)</a>
                        <a href="/editor/">Article Editor</a>
                        <a href="/verified/">Verified Badge</a>
                        <a href="https://discord.gg/SqZuGCpHMm">Discord Server</a>
                    </p>
                </div>

            </div>
            <div class="footer-end">
                <p>Copyright © 2021-2022 Dashword.net</p>
                <p>Dashword.net is not associated with RobTopGames AB ®</p>
            </div>
        </div>
    </div>
    <!-- FOOTER END -->

    <!-- SCRIPTS START -->
    <!-- Barn.js (for easy working with localstorage) -->
    <script type="text/javascript" src="/assets/js/barn.js"></script>

    <!-- Notif ( https://stackoverflow.com/a/20505898 ) -->
    <script>
    let barn = new Barn(localStorage);
    var notif = document.getElementById("notif");

    if( window.adsAreWithUs === undefined ) {
        showNotif();
    }

    function showNotif() {
        if (barn.get("showNotif") == null || barn.get("showNotif") == true ) {

            barn.set("showNotif", true);
            notif.style.display = "flex";

        } else if (barn.get("showNotif") == false) {

            closeNotif();

        }
    }

    function closeNotif() {
        barn.set("showNotif", false);
        notif.style.display = "none";
    }
    </script>

    <!-- Sidebar -->
    <script type="text/javascript" src="/assets/js/resize-sensor.js"></script>
    <script type="text/javascript" src="/assets/js/sidebar.js"></script>
    <script>
    var sidebar = new StickySidebar('#sidebar', {
        containerSelector: '#sidebar-wrapper',
        innerWrapperSelector: '#sidebar-inner',
        topSpacing: 100,
        bottomSpacing: 20,
        minWidth: 800
    });
    </script>

    <!-- Mobile Navigation -->
    <script>
    var menu = document.getElementById("menu");
    var menuBg = document.getElementById("menu-bg");

    function openMobile() {
        document.body.style.overflow = "hidden";
        menu.style.display = "flex";
        menuBg.style.display = "block";
        setTimeout(function(){
            menu.style.transform = "translateX(0%)";
            menuBg.style.opacity = "1";
            document.getElementById("close").focus();
        }, 10);
    }

    function closeMobile() {
        document.body.style.overflow = "unset";
        menu.style.transform = "translateX(-110%)";
        menuBg.style.opacity = "0";
        setTimeout(function(){
            menu.style.display = "none";
            menuBg.style.display = "none";
            document.getElementById("open").focus();
        }, 250);
    }
    </script>

    <!-- Scroll to top button -->
    <script>
    // Scroll top button var
    var scrollTopButton = document.getElementById("scrollTop");

    // Scroll top amount var
    var scrollTopAmmount = 150;

    // Show Button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > scrollTopAmmount || document.documentElement.scrollTop > scrollTopAmmount) {
            scrollTopButton.style.transform = "translateX(0%)";
        } else {
            scrollTopButton.style.transform = "translateX(200%)";
        }
    }

    // Scroll to top of page button
    function up() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>

    <!-- Copy text to clipboard -->
    <script>
    // https://stackoverflow.com/a/48542290
    function copy(text) {
        var dummy = document.createElement("textarea");
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);
        toast("Copied text to clipboard.");
    }
    </script>

    <!-- Toastify JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
    function toast(text) {
        Toastify({
        text: text,
        duration: 3000,
        newWindow: true,
        gravity: "bottom", // `top` or `bottom`
        position: "left", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
            background: "var(--primary)",
            color: "var(--white)",
            fontFamily: "'Montserrat', sans-serif",
            borderRadius: "4px",
            boxShadow: "0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)",
            textAlign: "center",
        },
        onClick: function(){} // Callback after click
        }).showToast();
    }
    </script>
    <!-- SCRIPTS END -->
    
</body>
</html>