<div class="inline-slot"><div class="article-notice">Quiz continues after ad</div><div style="background-color: var(--format-bg); max-width: 1300px; margin: 10px 0;"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4971544242804665" crossorigin="anonymous"></script><ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-4971544242804665" data-ad-slot="7482589955"></ins><script> (adsbygoogle = window.adsbygoogle || []).push({});</script></div></div>