{% if metadata.isAds and not hideAds %}
<div style="background: var(--grey); margin-top: 25px;" class="sidebar-hide">
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4971544242804665"
     crossorigin="anonymous"></script>
     <!-- Display Vertical -->
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-4971544242804665"
          data-ad-slot="7263082195"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
     <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>
{% endif %}