{% if metadata.isAds and not hideAds %}
<div class="container">
<div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7684383246101791"
     crossorigin="anonymous"></script>
<!-- Fixed Wide -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7684383246101791"
     data-ad-slot="2921111269"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
{% endif %}