{% if metadata.isAds and not hideAds %}
<div class="container">
<div style="display: flex; justify-content: center; align-items: center;">
<div style="width: fit-content; height: fit-content;">

<style>
.fixed-mobile {
     display: none;
}
@media only screen and (max-width: 800px) {
     .fixed-mobile {
          display: block;
     }
     .fixed-pc {
          display: none;
     }
}
</style>

<div class="fixed-pc">
     <!-- Put ad code here 728x90 -->
</div>

<div class="fixed-mobile">
     <!-- Put ad code here 300x100 -->
</div>

</div>
</div>
</div>
{% endif %}