{% if metadata.isAds and not hideAds %}
<div style="background: grey;">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7684383246101791"
    crossorigin="anonymous"></script>
<!-- Horizontal Display -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-7684383246101791"
    data-ad-slot="1993519894"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endif %}