---
pagination:
    data: collections.pagedAuthorPosts
    size: 1
    alias: category
permalink: authors/{{ category.slug }}/index.html

hasModal: true
pageID: authorPosts
layout: base.njk
---

{% set myAuthor = authors | getAuthor(category.title) %}

<h1 class="heading">Articles by {{ myAuthor.name }}</h1>

{% set verifiedText = "modal1" %}

{% if myAuthor.realVerified and false %}
{% set verifiedText = "modal2" %}
{% endif %}

<div class="cols author-profile">
    <div class="author-photo">
    <img src="{{ myAuthor.photo }}" alt="{{ myAuthor.name }}">
    </div>
    <div class="col">
        <span class="author-name">
        {{ myAuthor.name }}
        {% if myAuthor.verified %}
            <img src="/assets/img/verified.svg" alt="Verified Badge" onclick="openDialog('modalVerified');" style="cursor: pointer;">
        {% endif %}
        {% if myAuthor.staff %}
            <img src="/assets/img/staff.svg" alt="Staff Badge" onclick="openDialog('modalStaff');" style="cursor: pointer;">
        {% endif %}
        {% if myAuthor.partner %}
            <img src="/assets/img/partner.svg" alt="Partner Badge" onclick="openDialog('modalPartner');" style="cursor: pointer;">
        {% endif %}
        </span>
        <span class="author-desc">{{ myAuthor.bio }}</span>
        <div class="author-socials">
        {% if myAuthor.youtube %}<a href="https://www.youtube.com/{% if myAuthor.handle %}@{% else %}{% if myAuthor.customyt %}c{% else %}channel{% endif %}{% endif %}{% if myAuthor.handle %}{% else %}/{% endif %}{{ myAuthor.youtube }}" class="ri-youtube-fill" data-tooltip="YouTube" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
            {% if myAuthor.twitch %}<a href="https://www.twitch.tv/{{ myAuthor.twitch }}" class="ri-twitch-fill" data-tooltip="Twitch" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
            {% if myAuthor.twitter %}<a href="https://twitter.com/{{ myAuthor.twitter }}" class="ri-twitter-fill" data-tooltip="Twitter" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
            {% if myAuthor.discord %}<a href="https://discord.gg/{{ myAuthor.discord }}" class="ri-discord-fill" data-tooltip="Discord" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
            {% if myAuthor.gdbrowser %}<a href="https://gdbrowser.com/u/{{ myAuthor.gdbrowser }}" class="ri-gamepad-fill" data-tooltip="GDBrowser" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
        </div>
    </div>
</div>

{% for post in category.items %}
{% include "partials/posts.njk" %}
    {% if (loop.index == 2) or (loop.index == 4) or (loop.index == 6) or (loop.index == 8) %}
    {% include "formats/feed.njk" %}
    {% endif %}
{% endfor %}

<br>

{% set paged = category.pageSlugs %}
{% set nestedPagination = true %}
{% set authorPagination = true %}
{% include "partials/paginator.njk" %}
