{% for post in collections[ "featured" ] | reverse | head(3) %}
<div class="post-sidebar">
    <a class="image" href="{{ post.url }}">
        <div class="aspect">
            <img src="{{ post.data.image | url }}" alt="">
        </div>
    </a>
    <div class="content col">
        <a href="{{ post.url }}" class="title" style="text-transform: capitalize">{% if post.data.title %}{{ post.data.title }}{% else %}No post title provided{% endif %}</a>
    </div>
</div>
{% endfor %}