<div class="container section">
    <div class="panel cols">
        {# <div class="col">
            <h1>Listen to the Geometry Dash Podcast</h1>
            <p>Geometry Dash events covered by Dashword. Listen now for free!</p>
        </div>
        <div class="col">
            <a class="button button-wide" style="margin-top: 0;" href="/podcast/">Listen Now</a>
        </div> #}
        <div class="col">
            <h1>Share your Geometry Dash passion on Dashword</h1>
            <p>Consider writing for Dashword and share your passion for Geometry Dash!</p>
        </div>
        <div class="col">
            <a class="button button-wide" style="margin-top: 0;" href="/contribute/">Contribute</a>
        </div>
    </div>
</div>