<div class="container section">
    <div class="panel cols">
        {# <div class="col">
            <h1>Listen to the Geometry Dash Podcast</h1>
            <p>Geometry Dash events covered by Dashword. Listen now for free!</p>
        </div>
        <div class="col">
            <a class="button button-wide" style="margin-top: 0;" href="/podcast/">Listen Now</a>
        </div> #}
        <div class="col">
            <h1>Get the latest Geometry Dash 2.2 news first</h1>
            <p>Dashword is the largest Geometry Dash news source on the web. We publish the latest Geometry Dash 2.2 news fast and for free.</p>
        </div>
        <div class="col">
            <a class="button button-wide" style="margin-top: 0;" href="/categories/2.2/">See Our 2.2 News</a>
        </div>
    </div>
</div>