<div class="post cols">
    <a class="image" href="{{ post.url }}">
        <div class="aspect">
            <img src="{{ post.data.image | url }}" alt="{{ post.data.title }}">
        </div>
    </a>
    <div class="content col">
        <a href="{{ post.url }}" class="title" style="text-transform: capitalize">{% if post.data.title %}{{ post.data.title }}{% else %}No post title provided{% endif %}</a>
        
        <a href="{{ post.url }}" class="desc">
            {% if post.data.desc %}{{ post.data.desc }}{% else %}No post description provided.{% endif %}
        </a>
        <span class="meta">
            {% if post.data.author %}{% set myAuthor = authors | getAuthor(post.data.author) %}<a href="/authors/{{ myAuthor.key }}" class="author">{{ myAuthor.name }} <i class="ri-user-3-line"></i></a>{% endif %} {% if post.data.date %}<a href="{{ post.url }}" class="date">{{ post.data.date | readableDate }} <i class="ri-time-line"></i></a>{% endif %} <span href="#" class="tags">{% for tag in post.data.tags %} <a href="/categories/{{ tag | slug }}/">{{ tag | capitalize }}</a>{% endfor %} <i class="ri-price-tag-3-line"></i></span>
        </span>
    </div>
</div>