/* Montserrat
Designed by Julieta Ulanovsky, Sol Matas, Juan Pablo del Peral, Jacques Le Bailly */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables */

:root {
    /* Changing colors */
    --bg: white;
    --bg-dim: rgb(238, 238, 238);
    --print: black;

    /* Unchanging colors */
    --white: white;
    --black: black;
    --grey: rgba(192, 192, 192, 0.596);
    --primary: rgb(0, 103, 238); /* OG: rgb(45,136,255) */

    /* Spacing valyes */
    --gap: 25px;
    --radius: 4px;
    --edge: 10px;
    --navheight: 75px;

    /* Font size */
    --font-size: 16px;
}

/* CSS Reset */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size);
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--navheight) + 3px);
}

body {
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    color: var(--print);
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

/* Helpers */

.container {
    max-width: 1300px;
    padding: 0 5%;
    margin: auto;
}

.section {
    margin-top: 25px;
}

.main-content-safe {
    width: calc(100% - 28% - 25px) !important;
}

/* Navbar */

.navbar-wrapper {
    position: fixed;
    width: 100%;
    background-color: var(--bg);
    z-index: 500;
    border-bottom: 1px solid var(--grey);
}

.navbar {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.left {
    margin-right: auto;
    display: flex;
    gap: var(--gap);
}

.right {
    margin-left: auto;
    display: flex;
    gap: var(--gap);
}

.items {
    display: flex;
}

.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    font-size: 1.25rem;
}

a.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.35rem;
    height: var(--navheight);
    width: fit-content;
    gap: 10px;
}

a.logo img {
    max-height: 48.750px;
}

a.item, a.logo, .items a.button {
    z-index: 950;
}

a.item {
    height: var(--navheight);
    display: flex;
    align-items: center;
    padding: 0 13px;
    transition: background-color 0.25s ease;
    color: inherit;
    position: relative;
    gap: 3px;
}

a.item i {
    font-size: 1.25rem;
    opacity: 0.5;
    transition: transform 0.25s ease;
}

a.item:hover {
    background-color: rgba(150, 150, 150, 0.15);
}

.navbar-spacer {
    height: var(--navheight);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0 15px;
}

/* Megamenu */

.megamenu-content {
    display: none;
    position: absolute;
    background-color: var(--bg);
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 30px;
    margin-top: -15px;
    opacity: 0;
}

.megamenu .megamenu-content {
    transition: opacity 0.25s ease;
}

.megamenu:hover .megamenu-content {
    display: block;
    opacity: 1;
}

.megamenu:hover i {
    transform: rotate(-180deg);
}

/* Mobile Nav */

.mobile {
    display: none;
    position: fixed;
    z-index: 600;
    flex-direction: column;
    width: 250px;
    /* padding: 50px 25px; */
    background-color: var(--bg);
    height: 100%;
    overflow: auto;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transform: translateX(-110%);
    transition: transform 0.25s ease;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 2rem;
    cursor: pointer;
}

.mobile-bg {
    display: none;
    position: fixed;
    z-index: 550;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s ease;
}

a.mobile-item {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

a.mobile-item i {
    color: var(--primary);
    font-size: 1.3rem;
    font-weight: normal;
}

a.mobile-item .button i {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.categ i {
    opacity: 0;
}

.news-chip {
    margin-left: auto;
    letter-spacing: 1px;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--edge);
    padding: 3px 7px;
}

.mobile .divider {
    border: solid 0px transparent;
    background-color: var(--grey);
    height: 1px;
    display: block;
    flex-shrink: 0
}

/* Scroll Link */

.scroll {
    font-size: 1.25rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 25px;
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 525;
    bottom: 100px; /* 0 */
    right: 0;
    background-color: var(--primary);
    color: var(--white);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    cursor: pointer;
    transform: translateX(200%);
    transition: 0.25s ease transform;
}

.scroll:focus {
    transform: translateX(0%);
}

/* Fixed Slot */

.fixed-slot {
    height: fit-content;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 325;
    background-color: var(--grey);
}

/* Button */

.button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: var(--white);
    background-color: var(--primary);
    padding: 15px 25px;
    font-weight: bold;
    /* border-radius: var(--radius); */
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size);
}

.button:focus {
    outline: var(--primary) 3px solid;
    outline-offset: 2px;
}

.button-selected {
    opacity: 0.50;
}

.button-selected:focus {
    outline: transparent 0px solid;
    outline-offset: 2px;
}

.button-wide {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}

/* Columns */

.cols {
    display: flex;
    gap: 25px;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    height: fit-content;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

/* Grid */

.grid-2, .grid-3, .grid-4 {
    display: grid; 
    gap: var(--gap);
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Cover */

.cover {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: var(--white);
}

/* Meta Details */

.meta {
    margin-top: 10px !important;
}

.author, .date, .tags {
    height: 30px;
    padding-top: 15px;
}

.tags a {
    height: 30px;
    display: flex;
    align-items: center;
}

/* .tags a {
    height: 40px;
    padding: 5px 0;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.tags {
    gap: 0 !important;
} */

/* Featured Main */

.featured-side .title, .post .title, .post-sidebar .title, .author-preview, .tag-preview {
    transition: 0.25s ease color;
}

.featured-side .title:hover, .post .title:hover, .post-sidebar .title:hover, .author-preview:hover, .tag-preview:hover {
    color: var(--primary);
}

.author-preview.author-no-posts:hover {
    color: inherit;
}

.featured-main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--edge);
}

.featured-main .title {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    margin-top: auto;
}

.featured-main .desc {
    display: block;
    font-size: 1.1rem;
    margin-top: 15px;
}

.featured-main .meta {
    display: flex;
    font-size: 0.9rem;
    margin-top: 15px;
    gap: var(--gap);
}

.featured-main .meta .author, .featured-main .meta .date, .featured-main .meta .tags {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Featured Side */

.featured-side {
    display: flex;
    gap: calc(var(--gap) / 2);
}

.featured-side:first-child {
    display: none;
}

.featured-side .title {
    font-size: 1rem;
    font-weight: bold;
    display: block;
}

.featured-side .meta {
    display: flex;
    font-size: 0.9rem;
    margin-top: 10px;
    gap: 0 var(--gap);
    flex-wrap: wrap;
}

.featured-side .meta .date, .featured-side .meta .author, .featured-side .meta .tags {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Notif */

.notif {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 952;
    background-color: var(--bg);
    padding: 25px;
    font-size: 1.2rem;
    border-top: 2px solid var(--primary);
    line-height: 1.35;
    align-items: center;
}

/* Podcast */

.podcast {
    display: flex;
    gap: 25px;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    height: fit-content;
}

.podcast .play {
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 50%;
}

.podcast .content {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.podcast-tag {
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
    width: fit-content;
    padding: 10px 20px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    display: block;
    border-radius: 30px;
}

/* Post */

.post {
    margin-top: 25px;
}

.post .title {
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
}

.post .desc {
    font-size: 1.1rem;
    display: block;
    margin-top: 15px;
}

.post .desc, .featured-main .desc, .result-desc a span {
    /* Truncation... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post .title, .featured-main .title, .result-title a span {
    /* Truncation... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post .meta, .featured-main .meta {
    display: flex;
    font-size: 0.9rem;
    margin-top: 15px;
    gap: 5px var(--gap);
    flex-wrap: wrap;
}

.post .meta .author, .post .meta .date, .post .meta .tags {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post .meta .tags a::after, .featured-main .meta .tags a::after, .featured-side .meta .tags a::after, .post-grid .meta .tags a::after {
    content: ',';
}

.post .meta .tags a:last-of-type:after, .featured-main .meta .tags a:last-of-type:after, .featured-side .meta .tags a:last-of-type:after, .post-grid .meta .tags a:last-of-type::after {
    content: '';
}

.post .image {
    width: 33%;
}

/* Sidebar Post */

.post-sidebar {
    margin-top: 25px;
}

.post-sidebar .title {
    font-size: 1.15rem;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

/* Aspect Ratio */

.aspect, .video-iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

.aspect iframe, .aspect img, .aspect .ratio, .video-iframe iframe, .video-iframe img, .video-iframe .ratio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aspect img, .video-iframe img, .video-iframe {
    object-fit: cover;
    border-radius: var(--edge);
    overflow: hidden;
}

.video-iframe iframe {
    border-radius: var(--edge);
}

.p-aspect {
    position: relative;
    padding-bottom: 25.50%;
    border-radius: var(--radius);
    overflow: hidden;
}

.p-aspect iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Comments */

.comments {
    display: none;
}

.comments-show {
    display: block !important;
}

/* Search */

.search form {
    align-items: center;
    position: relative;
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.search form i {
    position: absolute;
    margin-left: 15px;
    font-weight: bold;
    color: var(--primary);
}

.search .button {
    margin-top: 0;
}

.search form input {
    display: block;
    line-height: 1.75;
    padding: 11px 21px;
    padding-left: 40px;
    font-family: inherit;
    width: 100%;
    font-size: 1rem;
    /* border-radius: var(--radius); */
    border-radius: 30px;
    outline: none;
    border: 1px solid var(--grey);
    color: var(--print);
}

.result-title a {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    transition: color 0.25s ease;
    line-height: 1.35;
}

.result-title a:hover {
    color: var(--primary);
}

.result-desc a {
    display: block;
    font-size: 1.15rem;
    margin-bottom: 25px;
    margin-top: 5px;
    line-height: 1.5;
}

.results {
    margin-top: 25px;
}

/* Heading */

h1.heading {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 5px;
    font-size: 2rem;
}

/* Main Layout */

.main {
    display: flex;
}

.sidebar {
    width: 28%;
    align-self: stretch;
    justify-self: flex-start;
    display: block;
    position: relative;
}

/* Footer */

.footer-wrapper {
    background-color: var(--bg-dim);
    margin-top: 50px;
    padding: 25px 0;
    padding-bottom: calc(25px + 100px); /* for banner ad to not cover footer links */
}

.footer-end {
    display: flex;
    justify-content: space-between;
    opacity: 0.65;
}

.footer-end p a {
    text-decoration: none !important;
}

.footer h1 {
    font-size: 1.5rem;
}

.footer p {
    font-size: 1rem;
    margin-top: 15px;
    line-height: 1.5;
}

.footer a {
    display: block;
    text-decoration: underline;
}

/* Banner Top */

.banner-top {
    padding: 20px 0;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.1em;
}

.banner-top a {
    font-weight: bold;
    text-decoration: underline;
}

/* Gallery */

/* Copied from .cols */
.gallery {
    display: flex;
    gap: 25px;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    height: fit-content;
}

.gallery {
    margin-bottom: 25px;
    gap: 10px;
}

.gallery-item img {
    display: block;
    border-radius: var(--edge);
}

.gallery-item .title {
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin-top: 10px;
    /* Truncation... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: color 0.25s ease;
}

.gallery-item .title:hover {
    color: var(--primary);
}

/* Post Grid */

.post-grid .aspect {
    border-radius: var(--edge);
}

.post-grid .title {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.25s ease;
    /* Truncation... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.post-grid .title:hover {
    color: var(--primary);
}

.post-grid .meta {
    margin-top: 5px !important;
    display: flex;
    gap: 0 var(--gap);
    flex-wrap: wrap;
}

.post-grid .meta .author, .post-grid .meta .date, .post-grid .meta .tags {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Recommended Float */

.rec-float {
    display: none;
    opacity: 0;
    transform: translateY(-50px);
    position: fixed;
    z-index: 50;
    bottom: 0;
    right: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.rec-float-inner {
    display: flex;
    align-items: center;
    background-color: var(--bg);
    height: fit-content;
    width: fit-content;
    border-radius: var(--edge);
    margin: 20px;
    padding: 5px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    position: relative;
}

.rec-float .image {
    width: 150px;
    display: block;
}

.rec-float .title {
    font-weight: bold;
    display: block;
    transition: color 0.25s ease;
    max-width: 300px;
    padding: 0 15px;
    padding-right: 30px;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.rec-float .title span {
    /* Truncation... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rec-float .title:hover {
    color: var(--primary);
}

.rec-float .rclose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.rec-float .rnext {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 5px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom-right-radius: var(--edge);
    border-top-left-radius: var(--edge);
}

/* Recommended */

.rec {
    border-bottom: 1px solid var(--grey);
    margin-bottom: 15px;
    margin-top: 15px;
}

.rec-links {
    margin: 15px 0;
    gap: 10px;
}

.rec .title {
    display: block;
    font-weight: bold;
    display: flex;
    transition: color 0.25s ease;
    text-transform: capitalize;
    color: var(--print);
    text-decoration: none;
    height: fit-content;
}

.rec i {
    position: absolute;
}

.rec .title span {
    margin-left: 30px;
    /* Truncation... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.rec .title:hover {
    color: var(--primary);
}

.rec-title {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Flash */

/* Copied from .cols */
.flash {
    display: flex;
    gap: 25px;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    height: fit-content;
}

.flash {
    border: 1px solid var(--grey);
    margin-bottom: 25px;
    border-radius: var(--edge);
    overflow: hidden;
    align-items: center;
    gap: 0;
    position: relative;
    justify-content: flex-end;
    height: 43px;
    --news-translate: 0px;
}

.flash-label {
    font-size: 1.15rem;
    color: var(--white);
    background-color: var(--primary);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.flash-news {
    overflow: hidden;
    height: 43px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.flash-news a {
    font-size: 1rem;
    padding: 12px;
    display: block;
    transition: transform 0.25s ease, color 0.25s ease;
}

.flash-news a:hover {
    color: var(--primary);
}

.flash-news a span {
    /* Truncation... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.news-item {
    transform: var(--news-translate);
}

/* Banner */

.banner {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.1em;
    border-radius: var(--radius);
    overflow: hidden;
}

.banner-icon {
    width: 10%;
}

.banner-txt {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 25px;
}

.banner-txt-copy {
    font-weight: bold;
}

.banner-txt-act {
    margin-left: auto;
    text-decoration: underline;
}

/* Article Meta */

.approved {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    color: var(--primary);
    font-weight: bold;
}

.approved img {
    width: 25px;
}

.article-heading {
    font-size: 3rem;
}

.article-meta {
    margin-top: 15px;
}

.article-desc {
    margin: 25px 0;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.35;
}

.article-meta-author, .article-meta-date {
    font-weight: bold;
}

.article-meta-date a::after {
    content:',';
    font-weight: normal;
}

.article-meta-date a:last-child:after {
    content:'';
}

.article-meta-author {
    cursor: pointer;
}

.article-cover {
    margin: 25px 0;
}

.article-cover-source {
    width: fit-content;
    height: 30px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    color: var(--white);
    z-index: 10;
    position: relative;
    margin-top: -30px;
    border-bottom-left-radius: var(--edge);
    border-top-right-radius: var(--edge);
}

/* Article Copy */

.article p, .article li, .article img, .article h1, .article h2, .article h3, .article h4, .article h5, .article h6, .alert, .podcast-player, .video-iframe {
    display: block;
    margin: 15px 0;
}

.article img {
    margin: 15px auto;
    border-radius: var(--edge);
}

.article pre {
    overflow: auto;
    background-color: var(--bg-dim);
    padding: 15px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.article p, .article li, .article li p:first-child, .article blockquote p:first-child, .article.article-ta p:first-child {
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: normal;
    margin: 15px 0;
}

.alert p:first-child {
    line-height: 1.5 !important;
    margin: 15px 0 !important;
}

.article p:first-child {
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.35;
}

.article h1 {
    font-size: 2rem;
}

.article ul {
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.article ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.article li {
    display:list-item;
}

.article a {
    color: rgb(0, 89, 255);
    text-decoration: underline;
    cursor: pointer;
}

.article hr {
    border: solid 0px transparent;
    background-color: var(--grey);
    height: 1px;
    margin: 35px 0;
}

.article {
    margin-bottom: 25px;
}

.article-notice {
    opacity: 0.5;
    text-align: center;
    font-style: italic;
}

.article blockquote::before {
    font-family:Arial;
    content: "\201C";
    color: var(--primary);
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

.article blockquote {
    font-size: 1.4rem;
    margin: 25px auto;
    font-style: italic;
    padding: 0.8em 20px 0.8em 65px;
    border-left: 8px solid var(--primary);
    line-height: 1.5;
    position: relative;
}

.article blockquote p {
    display: inline;
}

.article blockquote cite {
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}

.alert p {
    font-weight: bold !important;
    font-size: 1rem !important;
}

.alert {
    display: flex !important;
    gap: 15px;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    margin-top: -10px;
}

.alert .alert-icon {
    font-size: 1.75rem;
    font-weight: bold;
    display: flex;
    /* align-items: center; */
    margin: 12px 0;
}

/* Percent */

.percent {
    max-width: 400px;
    /* margin: auto; */
    padding: 25px;
    border: 1px solid var(--grey);
    border-radius: var(--radius);
    margin-bottom: 15px;
}

.percent-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    display: block;
}

.percent-bar {
    background-color: var(--grey);
    width: 100%;
    height: 15px;
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
}

.percent-value {
    height: 100%;
    background-color: var(--primary);
}

.percent-mini {
    padding: 17px;
    max-width: 500px;
}

.percent-mini .percent-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.percent-mini .percent-bar {
    height: 10px;
}

/* Details */

.summary p {
    font-size: 1.5rem;
    font-style: italic;
}

.summary hr {
    margin-top: 5px !important;
    margin-bottom: 20px !important;
}

summary {
    list-style: none
}

summary::-webkit-details-marker {
    display: none;
}

.article details {
    display: block;
    background-color: var(--bg);
    border-radius: var(--radius);
    padding: 20px;
    border: 1px solid var(--grey);
}

.article summary {
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 1.3rem;
}

.details-summary {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.details-icon {
    margin-left: auto;
}

.details-icon.ri-add-line:before {
    content: "\ea13";
}

details[open] .details-icon.ri-add-line:before {
    content: "\f1af";
}

.details-title {
    display: inline-block;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.article details[open] summary {
    margin-bottom: 15px;
}

/* Author */

.author-profile {
    align-items: center;
    margin-top: 20px;
}

.author-photo img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.author-name, .author-desc {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.author-name {
    font-weight: bold;
    font-size: 1.3rem;
}

.author-socials {
    color: rgb(138, 138, 138);
    margin-top: 5px;
    font-size: 1.2rem;
}

.author-socials a {
    padding: 10px;
    padding-left: 0;
}

.badge {
    color: var(--primary);
    font-weight: normal;
}

/* 404 */

.wrapper-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.heading-404 {
    font-size: 7.5rem;
    line-height: 1;
}

.subheading-404 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    text-align: center;
}

/* Panel */

.panel {
    background-color: var(--primary);
    margin-top: 25px;
    padding: 25px;
    /* border-radius: var(--radius); */
    border-radius: var(--edge);
    color: var(--white);
    align-items: center;
}

.panel .button {
    background-color: var(--white);
    color: var(--black);
}

.panel h1 {
    font-size: 1.65rem;
    line-height: 1.3;
}

.panel p {
    margin-top: 15px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.panel a {
    font-weight: bold;
    text-decoration: underline;
}

.panel .button {
    text-decoration: none;
}

/* Author Preview */

.author-preview {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.author-no-posts-tag {
    opacity: 0.75;
    font-weight: normal;
    font-size: 0.8em;
}

.author-preview-photo {
    width: 50px;
    height: 50px;
}

.author-preview-photo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.author-preview-name {
    font-weight: bold;
    font-size: 1.15rem;
    display: flex;
    gap: 5px;
    align-items: center;
}

.author-preview-name img, .author-name img {
    width: 20px;
    height: 20px;
}

.verified-chip img {
    width: 15px;
    height: 15px;
}

.verified-chip {
    display: flex;
    gap: 5px;
    font-weight: bold;
    margin-top: 5px;
    opacity: 0.5;
    color: var(--print) !important;
    align-items: center;
}

/* Tag Preview */

.tag-preview {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.tag-preview-icon {
    font-weight: bold;
    color: var(--primary);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.tag-preview-name {
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

/* Mobile Optimization */

.show-on-phone {
    display: none !important;
}

.hide-on-phone {
    display: inherit !important;
}

.menu {
    display: none;
}

.up-next-show {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .featured-main .title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1050px) {
    .featured-main .desc {
        display: none;
    }
    .show-on-phone {
        display: inherit !important;
    }
    .hide-on-phone {
        display: none !important;
    }
    .menu {
        display: flex;
    }
}

@media only screen and (max-width: 800px) {
    .sidebar-hide {
        display: none;
    }
    .up-next-show {
        display: block;
    }
    .sidebar {
        width: 100%;
    }
    .main-content-safe {
        width: 100% !important;
    }
    .main-content.cols {
        flex-direction: column;
    }
    body {
        --navheight: 60px;
    }
    .items .button {
        padding: 13px 20px;
        font-size: 0.9rem;
    }
    .featured-main-cols.cols {
        flex-direction: column;
    }
    .featured-main .title {
        font-size: 2rem;
    }
    .featured-main .desc {
        display: -webkit-box;
    }
    .left {
        gap: 5px;
    }
    .navbar {
        gap: 0px;
    }
    a.logo img {
        max-height: 39px;
    }
    .gallery-item8, .gallery-item9 {
        display: none;
    }
    .post-sidebar {
        display: flex;
        gap: 15px;
    }
    .post-sidebar .image {
        width: 30%;
    }
    .post-sidebar .title {
        margin-top: 0;
        font-size: 1rem;
    }
    .post-grid .meta {
        display: none;
    }
    .post-grid .title {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .featured-main .title {
        font-size: 1.35rem;
    }
    .cols {
        flex-direction: column;
    }
    .post.cols {
        flex-direction: row-reverse;
    }
    .author-profile.cols {
        flex-direction: row;
    }
    .post .col, .author-profile .col {
        width: auto;
    }
    .col {
        width: 100%;
    }
    .post .image {
        width: 33%;
    }
    .author-profile .author-photo img {
        width: 100px;
        height: 100px;
    }
    .grid-2, .grid-3 {
        display: flex;
        flex-direction: column;
    }
    .article-heading {
        font-size: 2rem;
    }
    .featured-side-disgard {
        display: none;
    }
    .footer-end {
        flex-direction: column;
    }
    .gallery-item .title {
        font-size: 0.8rem;
    }
    .grid-4 {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --font-size: 14px !important;
    }
    .featured-main .desc {
        display: none;
    }
    /* .featured-main .meta .author, .featured-main .meta .tags {
        display: none;
    } */
    .post.cols {
        flex-direction: column;
    }
    .post .col {
        width: 100%;
    }
    .post .image {
        width: 100%;
    }
    .flash-news a {
        padding: 13px;
    }
    .post-grid .title {
        font-size: 0.8rem;
    }
    .rec-float {
        margin: 0px;
        width: 100%;
        right: 0;
        left: 0;
        right: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rec-float-inner {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .rec-float .image {
        width: calc(400px - 40%);
    }
    .rec-float .title {
        width: fit-content;
    }
    /* .rnext {
        display: none;
    } */
}