---
permalink: /dev/
layout: base.njk
title: Dashword Developer Mode
desc: Enable or disable Dashword's developer mode.
hideAds: true
---

<h1 class="heading">Dashword Developer Mode</h1>

<div class="author-profile">
    <span class="author-desc" style="font-weight: bold;">Developer mode is not intended for regular audiences. Enabling it may cause bugs. Use at your own risk. To disable it, clear your cookies or press the second button below.<span>
</div>

<button class="button button-wide" onclick="startDev()">Enable Developer Mode</button>
<button class="button button-wide" onclick="endDev()">Disable Developer Mode</button>