---
permalink: /blue/
layout: base.njk
title: Subscribe To Dashword Blue Today
desc: As Dashword has grown, so has our commitment to provide you the best Geometry Dash news. However, this is only possible with your support.
---

<style>
    .blue-verified, .blue-item {
        display: flex;
        gap: 15px;
    }
    .blue-verified {
        background-color: var(--primary);
        font-weight: bold;
        color: var(--white);
        padding: 25px;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: var(--radius);
        margin-top: 25px;
        align-items: center;
    }
    .blue-item {
        margin-top: 25px;
        align-items: center;
    }
    .blue-num {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-dim);
        border-radius: 50%;
        font-size: 1.15rem;
        font-weight: bold;
    }
    .blue-content {
        font-size: 1.15rem;
        line-height: 1.5;
        font-weight: bold;
    }
    .blue-content span {
        font-weight: normal;
        display: block;
    }
    .blue-badge {
        width: 75px;
        height: 75px;
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .blue-badge img {
        width: 50px;
        height: 50px;
    }
</style>

<h1 class="heading">Dashword Blue</h1>

<div class="blue">

    <div class="blue-verified">
        <div class="blue-badge">
            <img src="/assets/img/verified.svg" alt="Verified">
        </div>
        <div class="blue-content col">
            Get a verified checkmark next to your name. Stand out from the crowd with our famous blue checkmark!
        </div>
    </div>
    <div class="blue-item">
        <div class="blue-num">
            1
        </div>
        <div class="blue-content col">
            Get the top posts and comments
            <span>Posts from verified users will be prioritized to stop spam and abuse.</span>
        </div>
    </div>
    <div class="blue-item">
        <div class="blue-num">
            2
        </div>
        <div class="blue-content col">
            See half the ads
            <span>See 50% fewer ads when browsing our site.</span>
        </div>
    </div>
    <div class="blue-item">
        <div class="blue-num">
            3
        </div>
        <div class="blue-content col">
            Get early access
            <span>Get early access to new Dashword features.</span>
        </div>
    </div>

</div>

<button onclick='location.replace("https://youtu.be/dQw4w9WgXcQ");' class="button button-wide">Subscribe Now For $7.99 / Month</button>
