---
permalink: /index.json
layout: false
---
[
   {% for post in collections.posts %}
   {
      "title":"{{ post.data.title }}",
      "url":"{{ post.url }}",
      "author":"{{ post.data.author }}",
      "content":"{{ post.data.desc }}",
      "tags":"{% for tag in post.data.tags %}{{ tag }} {% endfor %}"
   }{% if not loop.last %},{% endif %}
   {% endfor %} 
]